<h1><%= @band.name %></h1>

<table class='band_album_list'>
  <th>Album List</th>
      <% @albums.each do |album| %>
        <tr>
          <td>
            <%= link_to(album.title, album_url(album)) %>
          </td>
        </tr>
      <% end %>
</table>

<%= button_to("Add new Album", new_band_album_url(@band), method: :get) %>